.base {
    background-color: #1ac5cc;
    clear: both;
    margin: 0;
    padding: 5% 0% 0% 0%;
    display: flex;
    flex-direction: column;
}

#headerInfoSpace {
    color: #fff;
    margin-top: 6%;
    margin-bottom: 3%;
    font-size: small;
}

#headerLogo {
    display: flex;
    align-items: center;
}

#header_title {
    font-weight: bold;
    font-size: xxx-large;
    /* margin: 30px 0px 10px 0px; */
}

#user_info_space {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    border-radius: 80px 80px;
    padding: 1% 5%;
    margin-bottom: 3%;
}

.user_info_item {
    color: black;
    display: flex;
    /* vertical-align: middle; */
    align-items: center;
}

.user_info_item .value::before {
    content: "|";
    padding: 0px 30px 0px 0px;
}
.index {
    width: 30%;
    font-size: small;
}

.value {
    width: 70%;
    font-size: small;
}

#main_space {
    padding-inline: 5%;
    padding-block: 3%;
}

#main_title {
    background-color: #909090;
    color: #fff;
    display: table;
    padding: 0% 2%;
    border-radius: 80px 80px;
    font-weight: bolder;
    font-size: large;
    margin: 5% 1% 1% 1%;
}

.mini_title {
    padding: 0% 2% 0% 2%;
    font-weight: bolder;
    font-size: large;
    margin: 3%;
}

.content {
    margin-left: 5%;
    color: #909090;
    line-height: 2em;
    font-size: small;
}
#desc {
    color: #919191;
    font-size: x-small;
    margin-bottom: 2%;
}
